node_modules/
.venv/
serviceAccountKey.json
desktop.ini
debug.log
.DS_Store
dist/
build/
*.pyc
__pycache__/
.env
local.properties
.gradle/
build/
bin/
gen/
out/
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
variables.gradle
app/build/
app/capacitor.build.gradle
app/local.properties
app/src/main/assets/
app/src/main/res/
app/src/main/java/com/
app/src/main/java/io/
app/src/main/jniLibs/
android/build/
android/.gradle/
android/app/build/
android/local.properties
android/capacitor.build.gradle
android/settings.gradle
android/variables.gradle
android/gradlew*
android/gradle/
android/app/src/main/assets/
android/app/src/main/res/
android/app/src/main/java/
android/app/src/main/jniLibs/
